#widthspacing {
     width: 200px;
     height: 100px;
}
#where {
     display: flex;
     justify-content: space-around;
}
.flexcontainer {
   text-align: center;
    background-color: rgb(60, 26, 26);
    border: solid 1px;
    border-radius: 10px;
    font-family: cursive;
    text-indent: 10px;
    color:rgb(255, 255, 255);
}