.contact{
    background-image: url(./assests/login1.jpg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;  
    height: 80vh;  
  
   }
   form {
      transition: transparent;
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      /* background-color: #f8f9f8; */
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(203, 195, 195, 0.5);
    }
   
    .contact-us{
      margin-bottom: 20px;
      transition: transparent;
    }
    label{
      display: block;
      font-size: 16px;
      margin-bottom: 5px;
    }
    input  input[type="text"],
    input[type="password"],textarea{
      width: 95%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .sub-mit{
      display: inline-block;
      background-color: rgba(248, 178, 178, 0.685);
      color: rgb(20, 20, 20);
      text-decoration: none;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      overflow: hidden; /* Ensure overflow is hidden to contain the animated image */
      transition: transform 0.3s ease; /* Transition property for smooth scaling */
    }
    .sub-mit:hover{
      background-color: #a7a3f884;
    }