.d-flex {
    width: 800px;
}
.unorder {
    display: inline;
    justify-content: center;
}
.well{
    background-color: rgb(77, 27, 27);
    display: flex;
    justify-content: space-around;
    padding: 40px;
    margin: 20px;
}
.well img:hover {
    border:1px;
    border-radius: 20px;
}

.expert {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin:5px;
}
.expert img {
    border:1px;
    border-radius: 50px;
    cursor: pointer;
}
h4 {
    color: darkred;
}

.world {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: rgb(205, 208, 211);
    font-family: cursive;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
}
ul li{
    text-decoration: none;
}
.sameway1 p {
    display:block;
   position:absolute;
   padding:40px;
   margin:30px;
}



