* {
    margin:0;
    padding:0;
}
section {
    padding: 20px 0;
}
.row {
    background-color: rgb(58, 17, 17);
    padding: 20px;
    border: 1px;
    border-radius: 10px;
}
#contact {
    border: 1px;
    border-radius: 10px;
    background-color: rgba(36, 36, 101, 0.221);
}
.mmk1 ,img {
   text-align: center;
   border: 1px;
   border-radius: 5px;
}
input:hover {
   background-color: aquamarine;
}

.footer {
    background-color: #070606;
    color: white;
    padding: 20px 0;
    text-align: center;
    font-family:cursive;
}
.footer h2 {
    margin-top: 0;
}
.footer a {
    color: #76c7c0;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p, .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



