* {
    margin:0px;
    padding:0px;
}
.some12 {
    text-decoration: none;
    font-family: cursive;
    background-color: rgb(39, 8, 8);
    color: rgb(219, 219, 219);
}
.jg1, img {
   text-align: center;
   
}
