/* .maintain {
    font-family: cursive;
    background-color: rgb(10, 232, 239);
    width: 1500px;
    height:800px;
    padding: 2px;
    margin:8px;
    border:1px;
    border-radius: 10px;
}
.img3 { 
    height: 450px;
    width: 1500px;
    margin: 8px;
}
.img2 {
    width: 1500px;
    margin: 8px;
}
#main {
    display: flex;
    justify-content: space-around;
}
 */
